doctype 5
html
  head
    title Liveticker

    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")

    link(rel='stylesheet', href='/css/styles.css')

    block hscripts
      script(src="/js/vendor/modernizr-2.6.2.min.js")

  body
    #branding
      h1 Sturm12.at Liveticker
    .container
      block content

    block bscripts
      script(src='/js/vendor/jquery-1.9.0.min.js')
      script(src="http://192.168.0.10:3001/socket.io/socket.io.js")
      script(src="/js/plugins.js")
      script(src="/js/main.js")