extends ../layout

block content
  h2.display-data All Tickers

  table.table.table-bordered.table-striped(style="width:100%")
    tr
        th Name
        th Date
        th Description
        th.last

    each ticker in tickers
      tr
        td= display(ticker.name)
        td= display(ticker.date)
        td= display(ticker.description)

        td
          a(href="/ticker/" + ticker._id, title="Detail")
            i.icon-zoom-in