extends ../../layout
include ../../mixins/form-helpers

block content

  form#ticker-form.form-horizontal(method="POST")
    fieldset
      legend Login
    
      .control-group
        mixin label("name", "Name")        
        .controls
          mixin text("user")
          mixin errorMessage('user', 'user')
      .control-group
        mixin label("email", "E-Mail")        
        .controls
          mixin text("email")
          mixin errorMessage('email', 'email')
      .control-group
        mixin label("password", "Passwort")        
        .controls
          mixin password("password")
          mixin errorMessage('password', 'password')
      .control-group
        mixin label("password2", "Passwort bestätigen")        
        .controls
          mixin password("password2")
          mixin errorMessage('password2', 'password2')

    .form-actions
      input.btn.btn-primary(type="submit", value="Login")
