extends ../layout
include ../../mixins/form-helpers

block content

  form#ticker-form.form-horizontal(action="/admin/tickers/create", method="POST")
    fieldset
      legend Create a new Live-Ticker
    
      .control-group
        mixin label("type", "Type")        
        .controls
          select(id='type', name='type')
            option Match
            option Chat
            option Sonstiges
          mixin errorMessage('type', 'type')
      .control-group
        mixin label("name", "Name")        
        .controls
          mixin text("name", ticker.name)
          mixin errorMessage('ticker', 'name')
      .control-group
        mixin label("date", "Date")        
        .controls
          mixin datetime("date", ticker.date)
          mixin errorMessage('ticker', 'date')
      .control-group
        mixin label("description", "Description")        
        .controls
          mixin textarea("description", ticker.description)
          mixin errorMessage('ticker', 'description')

      .match-data
        h2.display-data Match
        .control-group
          mixin label("match.team1", "Heimmannschaft")        
          .controls
            mixin text("match.team1", ticker.match.team1)
            mixin errorMessage('match.team1', 'match.team1')
        .control-group
          mixin label("match.team2", "Gastmannschaft")        
          .controls
            mixin text("match.team2", ticker.match.team2)
            mixin errorMessage('match.team2', 'match.team2')
        .control-group
          mixin label("match.place", "Ort")        
          .controls
            mixin text("match.place", ticker.match.place)
            mixin errorMessage('match.place', 'match.place')
        .control-group
          mixin label("match.Visitors", "Zuschauer")        
          .controls
            mixin number("match.Visitors", ticker.match.visitors)
            mixin errorMessage('match.Visitors', 'match.Visitors')
        .control-group
          mixin label("match.officials.official1", "Schiedsrichter")        
          .controls
            mixin text("match.officials.first", ticker.match.officials.first)
            mixin errorMessage('match.officials.first', 'match.officials.first')
        .control-group
          mixin label("match.officials.second", "1. Assistent")        
          .controls
            mixin text("match.officials.second", ticker.match.officials.second)
            mixin errorMessage('match.officials.second', 'match.officials.second')
        .control-group
          mixin label("match.officials.official3", "2. Assistent")        
          .controls
            mixin text("match.officials.third", ticker.match.officials.third)
            mixin errorMessage('match.officials.third', 'match.officials.third')
        .control-group
          mixin label("match.officials.fourth", "3. Assistent")        
          .controls
            mixin text("match.officials.fourth", ticker.match.officials.fourth)
            mixin errorMessage('match.officials.fourth', 'match.officials.fourth')

    .form-actions
      a.btn.btn-warning(href="/admin/tickers") Back
      | 
      input.btn.btn-primary(type="submit", value="Create")
